/* . */
.hero-container{
    border-radius: 8px;
   justify-content: center;
    height: 92vh;
}
.hero-container-2{
    background: linear-gradient(0deg,#FFE4E1,#C6E4F6);
    padding: 0;
    justify-self: center;
    align-self: center;
    margin:0px 1px ;
    border-radius: 20px;
    height: 92vh;


}
.hero-container-2-row{
    margin-top: 67px;
}
.hero-content-text{
    align-items: center;
    
}
.hero-content-text .hero-title{
    padding-left: 100px;
}
.hero-text-main{
    font-size: 50px;
    font-family: sans-serif;
}
.hero-content-text span{
    font-weight: 600;
}
.hero-text-bottom{
    font-size: small;
    color: grey;
}
.hot-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #FBFBFB;
    border-radius: 20px;
    padding: 10px;
    opacity: .6;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hot-tag p{
    margin-bottom: 0px;
    font-weight: 600;
    color: black;
}
.hero-book-appointment{
    padding: 15px 20px;
    border-radius: 100px;
    color: #FBFBFB;
    background-color: black;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: small;
    font-weight: 500;
}
.hero-book-appointment:hover{
    opacity: .8;
    cursor: pointer;
}

