.testimonial-container {
  background-color: rgb(95, 111, 255);
  padding: 5rem;
  border-radius: 0.5rem;
  color: white;
}

.testimonial-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.testimonial-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.testimonial-info {
  margin-top: 10px;
  display: flex;
  font-weight: 300;
  align-items: center;
  font-size: 0.875rem;
}

.feedback-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  background-color: white;
  border-radius: 9999px;
  text-decoration: none;
  color: rgb(89, 89, 89);
  padding: 0.75rem 2rem;
  transition: transform 0.3s ease-in-out;
}

.feedback-button:hover {
  transform: scale(1.05);
  will-change: transform;

  cursor: pointer;
}

.testimonial-box {
  text-align: center;
  padding: 20px;
  width: 100%;
  background: white;
  border-radius: 12px;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  font-size: 1.2rem;
  font-style: italic;
  color: #444;
}

.testimonial-author {
  font-weight: bold;
  margin-top: 10px;
  color: #007bff;
}
