.testimonial-carousel {
  background: linear-gradient(0deg, #FFE4E1, #C6E4F6);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-item {
  text-align: center;
  padding: 20px;
  color: #333;
}

.testimonial-text {
  font-size: 1.2rem;
  font-style: italic;
  color: #444;
}

.testimonial-name {
  font-weight: bold;
  margin-top: 10px;
  color: #007bff;
}

.carousel-indicators button {
  background-color: #007bff !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #FF4500 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(50%);
}

h3.text-primary {
  color: #FF4500 !important;
}

h1.fw-bold {
  color: #333;
}

.what-they-say p{
  font-size: large;
  margin-top:calc(1.5rem * calc(1 - 0)) ;
}
.what-they-say button{
  margin-top:calc(1.5rem * calc(1 - 0)) ;
  border-radius: 50px;
}


button.btn-outline-primary {
  border-color: #FF4500;
  color: #FF4500;
}

button.btn-outline-primary:hover {
  background-color: #FF4500;
  color: white;
  border: black 1px solid;
}
