.admin-dashboard {
  display: flex;
}

.sidebar-wrapper {
  width: 250px;
  border-right: 1px solid rgb(229, 231, 235);
  min-height: 100vh;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.sidebar-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
}

.sidebar-items a {
  text-decoration: none;
  padding: 0.875rem 1.5rem;
  color: #515151;
  transition: background-color 0.3s ease;
}

.sidebar-items a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
}

.sidebar-items li a p {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.sidebar-items a img {
  width: 24px;
  height: 24px;
}

.selected-item {
  background-color: rgb(242, 243, 255);
  border-right: 4px solid rgb(95, 111, 255);

}

.content-area {
  flex-grow: 1;
  background-color: #f8f9fd;
  width: calc(100% - 250px);
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    width: 50px;
  }
  .sidebar-items a {
    gap: 0 !important;
    justify-content: center;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .sidebar-items a p {
    display: none;
  }
}

@media (max-width: 480px) {
  .sidebar-wrapper {
    width: 48px;
  }
}

@media (max-width: 303px) {
  .sidebar-items li {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  .sidebar-items li a {
    gap: 0 !important;
    padding-right: 1px;
    padding-left: 1px;
  }
}
