:root {
    --gap: .975rem;
    --btn-lg-clr: #bd59d4
}

.login-wrapper {
    text-align: center;
    position: relative;
}

.login-box {
    background-color: #ffff;
    display: flex;
    border-radius: 10px;
    padding: 80px 55px 30px;
    flex-direction: column;
    overflow: hidden;
    width: 390px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
    gap: var(--gap);

}
.login-box header{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    justify-content: center;
    padding-bottom: .5rem;
    gap: var(--gap);
}

.login-box .form-floating{
    color: #4b2345 !important;
    font-size: 16px;
    font-weight: 700;
}
.login-box .form-floating .form-control{
    background-color: #fff !important;
    border-radius: 20px !important;
    font-size: 16px;
    font-weight: 700;
    height: 62px;
    padding: 0 1.4rem;
    width: 100%;
    transition: all .3s;
    box-shadow: 0 5px 30px 0  rgba(0, 0, 0, .1);
    gap: var(--gap);
}
input:focus + label,
input:not(:placeholder-shown) + label {
    transform: translateY(-20px); /* Adjust based on design */
    font-size: 10px; /* Smaller font size for floated label */
}

.login-box  .form-floating .form-control:focus{
    border: none;
    box-shadow: 0 5px 50px 0  rgba(0, 0, 0, .2);
}
.login-box  .form-floating .form-control{
    border: none;
}

.login-box .login-form section{
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.login-box .login-form section button{
    box-shadow: 0 10px 30px 0 rgba(189, 89, 212, .5);
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: .923rem;
    font-weight: 700;
    height: 50px;
    min-width: 130px;
    text-transform: uppercase;
    padding: 0 20px;
    transition: all .3s;
    background-color: var(--btn-lg-clr);

}

.links{
    text-decoration: none;
    color: #4b2345;
}
