.register-box {
    background: #dda0dd;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .register-box:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  }
  
  .outer-container {
    background: linear-gradient(90deg, rgba(0, 168, 255, 0.5), rgba(185, 0, 255, 0.5));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  