.appointment-wrapper {
    padding: 0 1rem;
  }
  
  .appointment-table {
    background-color: white;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 0.25rem;
    padding: 1rem;
    overflow-x: auto;
  }
  
  .header-row,
  .data-row {
    border-bottom: 1px solid rgb(229, 231, 235);
    padding: 0.75rem 0;
  }
  
  .data-row:last-child {
    border-bottom: none;
  }
  
  .appointment-close-btn {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa2a2;
    opacity: 0.5;
    border: 1px solid #ffe7f5;
    box-shadow: 0 4px 4px 0 rgba(248, 190, 179, 0.2);
    border-radius: 50%;
    transition: transform 0.2s ease;
  }
  
  .appointment-close-btn:hover {
    background-color: #ffa2a2;
    transform: scale(1.1);
  }
  
  .appointment-card {
    border: 1px solid rgb(229, 231, 235);
    border-radius: 0.25rem;
  }
  